<div class="content-container">
  <div class="header">VINÍCIUS CHAB</div>
  <p class="subheader">Seja bem-vindo(a) ao meu domínio</p>
  <div class="social-media">
    <a href="https://www.linkedin.com/in/vinicius-chab/" target="_blank">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://www.instagram.com/vinichab/" target="_blank">
      <img src="assets/icons/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://www.twitch.tv/chabinicius" target="_blank">
      <img src="assets/icons/twitch.svg" alt="Twitch" />
    </a>
  </div>

  <div class="spotify-embed">
    <iframe
      src="https://open.spotify.com/embed/album/7AJPV0L05IyIBid97AvwVD?utm_source=generator"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      autoplay="true"
    ></iframe>
    <small>
      Tentei fazer esse treco tocar sozinho quando a página abre, mas os
      navegadores de hoje estão muito chatos 😠
    </small>
  </div>

  <hr />

  <h3>Páginas</h3>
</div>
