<div class="content-container">
  <a class="header-link" href="/"> <div class="header">  VINÍCIUS CHAB </div> </a>
  <p class="subheader">Seja bem-vindo(a) ao meu domínio</p>
  <div class="social-media">
    <a href="https://www.linkedin.com/in/vinicius-chab/" target="_blank">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://www.instagram.com/vinichab/" target="_blank">
      <img src="assets/icons/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://www.twitch.tv/chabinicius" target="_blank">
      <img src="assets/icons/twitch.svg" alt="Twitch" />
    </a>
  </div>

  @if (!loadUrl) {
    <div class="spotify-embed">
      <iframe
        src="https://open.spotify.com/embed/album/7AJPV0L05IyIBid97AvwVD?utm_source=generator"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        autoplay="true"
      ></iframe>

      <small>
        Tentei fazer esse treco tocar sozinho quando a página abre, mas os
        navegadores de hoje estão muito chatos 😠
      </small>
    </div>
  }

  <hr />

  @if (loadUrl) {
    <a class="go-back" href="/"> Voltar </a>

    <iframe
      #pageIframe
      class="page-embed"
      [src]="loadUrl"
    ></iframe>
  }

  @if (!loadUrl) {
    <h3>Páginas</h3>

    <div class="category-list">
      <ul>
        @for(page of pages ; track i ; let i = $index) {
        <li>
          <a href=".?page={{ i }}">{{ page.title }}</a>
        </li>
        }
      </ul>
    </div>
  }
</div>
