<div class="content-container">
  <a class="header-link" href="/"> <div class="header">  VINÍCIUS CHAB </div> </a>
  <p class="subheader">Programador programando programas</p>
  <div class="social-media">
    <a href="https://github.com/vinichab" target="_blank">
      <img src="assets/icons/github.svg" alt="Github" />
    </a>
    <a href="https://www.linkedin.com/in/vinicius-chab/" target="_blank">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://www.instagram.com/vinichab/" target="_blank">
      <img src="assets/icons/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://www.twitch.tv/chabinicius" target="_blank">
      <img src="assets/icons/twitch.svg" alt="Twitch" />
    </a>
    <a href="mailto:chabvini@gmail.com">
      <img src="assets/icons/email.svg" alt="Email" />
    </a>
  </div>

  @if (!loadUrl) {
    <vini-embedded-content></vini-embedded-content>
  }

  <hr />

  @if (loadUrl) {
    <a class="go-back" href="/"> Voltar </a>

    <iframe
      #pageIframe
      class="loaded-page"
      [src]="loadUrl"
    ></iframe>
  }

  @if (!loadUrl) {
    <h3>Páginas</h3>

    <div class="category-list">
      <ul>
        @for(page of pages ; track i ; let i = $index) {
        <li>
          <a href=".?page={{ i }}">{{ page.title }}</a>
        </li>
        }
      </ul>
    </div>
  }
</div>
